<%= form_tag "/index", method: :post do %>
<p>city:<input type="text" name="city">
state:<input type="text" name="state">
<input type="submit" value="go"></p>
<% end %>

<h1><%= "#{@forecast.location.city}, #{@forecast.location.region}, #{@forecast.location.country}" %></h1>

<h3>Current temp: <%= @forecast.condition.temp %>F</h3>
<h3><%= (@forecast.condition.temp - 32) * 5 / 9  %>C</h3>
<h1><%= @forecast.condition.text %></h1>
<img src="<%= @forecast.image.url %>" alt=""> 


<% @forecast.forecasts[1..3].each do |forecast| %>

<h3>Date: <%= forecast.date %></h3>
<p>High: <%= forecast.high %>F</p>
<p>Low: <%= forecast.low %>F</p>
<p><%= forecast.text %></p>


<% end %>
